
#mainNavbar
{
    margin-top: 1rem;
}

.cadetColor
{
    color:cadetblue;
}

.break
{
    margin: 5rem;
}

.centerText
{
    text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noMargin {
    margin: 0;
}

.smallMargin {
    margin: 1rem;
}