
#mainNavbar
{
    margin-top: 1rem;
}

.cadetColor
{
    color:cadetblue;
}

.break
{
    margin: 5rem;
}

.centerText
{
    text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noMargin {
    margin: 0;
}

.smallMargin {
    margin: 1rem;
}

.showBorder {
    border: 3px;
    border-color: aquamarine;
    border-style: dashed;
}

.noPadding {
    padding: 0;
}

.noDisplay {
    display: none;
}